*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background: black;
}

div{
    cursor: pointer;
    font-family: 'VT323';
    transition: 0.2s;
    
}

div:hover{
    color: rgb(225, 0, 255);
    text-shadow: 0 0 5px rgb(247, 0, 255);
    font-size: 1.4rem;
}